<app-landing-page></app-landing-page>
<div class="hello">

  <h1 class="head-text">About Me</h1>
  <h4 class="details-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores soluta ratione architecto nobis dolorum sequi amet placeat,
    libero quos numquam dolorem animi nisi vero quasi commodi, ad, dicta consectetur suscipit odit doloribus repudiandae
    fugit consequatur iste beatae. Nesciunt tempore at est excepturi, iste, qui reprehenderit quaerat quae debitis autem,
    nostrum blanditiis suscipit iure doloremque fuga sunt consectetur ipsam optio! Laborum modi dignissimos nam. Tenetur
    nihil aperiam maiores repudiandae nulla blanditiis veritatis ut, ad consequatur deleniti totam, reprehenderit dolorum

  </h4>

</div>