.hello {
  background-image: url('../img/about-page.jpeg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* width: 100vh; */
  display: flex;
  justify-content: center;
}
