<app-landing-page></app-landing-page>
<div class="hello">
  <h1 class="head-text">Projects</h1>
  <h4 class="details-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam eaque neque, alias, inventore laudantium. Sed id, cupiditate
    ipsam in dolore inventore natus aut aliquam. Enim esse doloribus laboriosam, maiores, voluptatem ratione velit consectetur
    amet cumque, quo soluta impedit expedita corrupti aliquam. Repellat dolores est veniam obcaecati quisquam commodi sit
    iste harum voluptatem! Ad itaque ea corrupti ex non temporibus eveniet tempora corporis illum excepturi eum, neque cumque
    sapiente! Beatae repellendus eos in, voluptas vitae nemo unde ea odit repudiandae blanditiis esse dolore voluptatem velit
    perspiciatis qui tenetur inventore</h4>
</div>