/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 auto;
}

.head-text {
  align-self: center;
  font-family: Arial;
  font-size: 10em;
  font-variant: small-caps;
  margin: 0;
}

.details-text {
  align-self: center;
  width: 30%;
  margin: 0;
}
